<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="keywords" content="">
		<meta name="description" content="">
		<link rel="stylesheet" href="/css/safe/css.css" />
		<link rel="stylesheet" href="/css/safe/common.min.css" />
		<link rel="stylesheet" href="/css/safe/ms-style.min.css" />
		<link rel="stylesheet" href="/css/safe/personal_member.min.css" />
		<link rel="stylesheet" href="/css/safe/Snaddress.min.css" />
		<link rel="stylesheet" href="/css/sui.css" />
		<script type="text/javascript" src="/js/jquery-1.9.1.min.js" ></script>
		<script type="text/javascript" src="/js/ajax.js" ></script>
		<style>
		body {
		    background: #f5f5f5;
		}
			.sui-table th{
		    padding: 16px 8px;
		    line-height: 18px;
		    text-align: center;
		    vertical-align: middle;
		    border-top: 1px solid #e6e6e6;
		    font-weight: normal;
		    font-size: 14px;
		    color: #333333;
		   }
		   .sui-table td {
		    padding: 16px 8px;
		    line-height: 18px;
		    text-align: center;
		    vertical-align: middle;
		    border-top: 1px solid #e6e6e6;
		    font-weight: normal;
		    font-size: 12px;
		    color: #333333;
		   }
	img {
	    max-width: 100%;
	    height: auto;
	    /*vertical-align: bottom;*/
	    border: 0;
	    -ms-interpolation-mode: bicubic;
	    margin-left: -10px;
	}
a{
	color: #000000;
}

		</style>
	</head>

	<body class="ms-body">
		<div id="" class="ng-top-banner"></div>
		<div class="ng-toolbar">
			<div class="ng-toolbar-con wrapper">
				<div class="ng-toolbar-left">
					<a href="{:url('index/index')}" class="ng-bar-node ng-bar-node-backhome" id="ng-bar-node-backhome" style="display: block;">
						<span><img src="/img/Home.png" style="margin-right: 10px;"/>返回买啦首页</span>
					</a>
					<div class="ng-bar-node-box ng-site-nav-box d2">
						<a href="" class="ng-bar-node ng-bar-node-site">
							<span style="width:50px"><img src="/img/daohang.png" style="margin-right: 5px;" />网站导航</span><em class="ng-iconfont down"></em>
						</a>
						<div class="ng-sn-site-nav ng-d-box site-nav-child d1" style="display:none;">
							<dl class="sn-site-list lnb">
								<dt>
								    特色购物
								 </dt>
								<dd>
									<p><a target="_blank">###</a></p>
									<p><a target="_blank">###</a></p>
									<p><a target="_blank">###</a></p>
								</dd>
							</dl>
							<dl class="sn-site-list">
								<dt>
							    主题频道
							   </dt>
								<dd>
									<p><a target="_blank">###</a></p>
									<p><a target="_blank">###</a></p>
									<p><a target="_blank">###</a></p>
									<p><a target="_blank">###</a></p>
									<p><a target="_blank">###</a></p>
									<p><a target="_blank">###</a></p>
								</dd>
							</dl>
							<dl class="sn-site-list">
								<dt>
					   			 生活助手
					  			 </dt>
								<dd>
									<p><a target="_blank">###<i class="hot"></i></a></p>
									<p><a target="_blank">###</a></p>
									<p><a target="_blank">###</a></p>
									<p><a target="_blank">###</a></p>
									<p><a target="_blank">###</a></p>
									<p><a target="_blank">###</a></p>
								</dd>
							</dl>
							<dl class="sn-site-list">
								<dt>
					  			  会员服务
							   </dt>
								<dd>
									<p><a target="_blank">###<i class="hot"></i></a></p>
									<p><a target="_blank">###</a></p>
									<p><a target="_blank">###</a></p>
									<p><a target="_blank">###</a></p>
								</dd>
							</dl>
							<dl class="sn-site-list rnb">
								<dt>
					    			更多热点
					  			 </dt>
								<dd>
									<p><a target="_blank">###</a></p>
									<p><a target="_blank">###</a></p>
									<p><a target="_blank">###<i class="hot"></i></a></p>
								</dd>
							</dl>
							<a href="" class="ng-close"><em class="ng-iconfont"></em></a>
						</div>
					</div>

				</div>
				<script>
	
						$(function(){
							$('.d2'). mouseover(function(){
								$('.d1').css('display','block');
							});

							$('.d2').mouseout(function(){
								$('.d1').css('display','none');
								
							});
						});
					</script>


				<div class="ng-toolbar-right">
					
					<div class="ng-bar-node-box username-handle u2" id="" style="display: block;">
						<a href="" rel="nofollow" class="ng-bar-node username-bar-node username-bar-node-noside">
							<span id="">{$username}</span>
							<em class="hasmsg ng-iconfont"></em>
							<em class="ng-iconfont down"></em>
						</a>
						<div class="ng-d-box ng-down-box ng-username-slide u1" style="display:none;">
							<a href="{:url('xiugaizz')}" class="ng-vip-union" target="_blank" rel="nofollow">账号管理</a>
							<a rel="nofollow" href="{:url('index/index/out')}">退出登录</a>
						</div>
					</div>
					<script>
			
						$(function(){
							$('.u2'). mouseover(function(){
								$('.u1').css('display','block');
							});

							$('.u2').mouseout(function(){
								$('.u1').css('display','none');
								
							});
						});
					</script>
				

					<div class="ng-bar-node-box myorder-handle mai">
						<a href="{:url('sindex')}?zt=0"class="ng-bar-node ng-bar-node-fix touch-href ng-bar-node-pr5"><span>我的买啦</span><em class="ng-iconfont down"></em></a>
						<div class="ng-down-box ng-d-box myorder-child mai1" style="display:none;">
							<a href="{:url('/index/user/sindex?zt=1')}">待支付<em id="waitPayCounts"></em></a>
							<a href="{:url('/index/user/sindex?zt=3')}">待收货<em id="waitDeliveryCounts"></em></a>							
							<a href="{:url('/index/user/sindex?zt=2')}">待发货<em id="waitEvaluation"></em></a>
							<a href="{:url('/index/user/sindex?zt=4')}">待评价<em id="waitEvaluation"></em></a>
							<a href="{:url('/index/user/sindex?zt=5')}">退款<em id="waitEvaluation"></em></a>
						</div>
					</div>
					<script>
						$(function(){
							$('.mai'). mouseover(function(){
								$('.mai1').css('display','block');
							});

							$('.mai').mouseout(function(){
								$('.mai1').css('display','none');
								
							});
						});
					</script>


					<a class="ng-bar-node ng-bar-node-mini-cart" style="width:46px" rel="nofollow" href="{:url('shop')}"
						<span><img src="/img/购物车.png" />&nbsp;购物车</span>
						<span class="total-num-bg-box">
						<em></em>
						<i></i>
					</span>
						</span>
					</a>

					<div class="ng-bar-node-box mysuning-handle s">
						<a href="" rel="nofollow" name="" class="ng-bar-node ng-bar-node-fix touch-href ng-bar-node-pr5"><span>收藏夹</span><em class="ng-iconfont down"></em></a>
						<div class="ng-down-box ng-d-box mysuning-child s1" style="display:none;">
							
							<a href="{:url('index/user/cang')}" rel="nofollow">我的收藏</a>						
							<a href="{:url('index/user/youhuiq')}" rel="nofollow">我的优惠券</a>
						</div>
					</div>
					<script>
						$(function(){
							$('.s'). mouseover(function(){
								$('.s1').css('display','block');
							});

							$('.s').mouseout(function(){
								$('.s1').css('display','none');
								
							});
						});
					</script>


					<div class="ng-bar-node-box app-down-box g">
						<a href="{:url('sale')}" target="_blank" rel="nofollow" class="ng-bar-node mb-suning touch-href">
							<span>卖家中心</span>
						
					</div>
			

					<div class="ng-bar-node-box service-handle l">
						<a href="" class="ng-bar-node ng-bar-node-service ng-bar-node-fix touch-href ng-bar-node-pr5" rel="nofollow"><span>联系我们</span><em class="ng-iconfont down"></em>
				    </a>
						<div class="ng-down-box ng-d-box service-center-child ng-ser-list l1" style="display:none;">
							<a>帮助中心</a>
							<a>查找门店</a>
							<a>退换货</a>
							<a>帮客预约</a>
							<a>建议反馈</a>
							<a>在线咨询</a>
						</div>
					</div>
				</div>

					<script>
						$(function(){
							$('.l'). mouseover(function(){
								$('.l1').css('display','block');
							});

							$('.l').mouseout(function(){
								$('.l1').css('display','none');
								
							});
						});
					</script>

				<div id="ng-minicart-slide-box"></div>
			</div>
		</div>
		<header class="ms-header ms-header-inner ms-head-position">
			<article class="ms-header-menu">
				<style type="text/css">
					.nav-manage .list-nav-manage {
						position: absolute;
						padding: 15px 4px 10px 15px;
						left: 0;
						top: -15px;
						width: 90px;
						background: #FFF;
						box-shadow: 1px 1px 2px #e3e3e3, -1px 1px 2px #e3e3e3;
						z-index: 10;
					}
					
					.ms-nav li {
						float: left;
						position: relative;
						padding: 0 20px;
						height: 44px;
						font: 14px/26px "Microsoft YaHei";
						color: #FFF;
						cursor: pointer;
						z-index: 10;
					}
					.personal-member .main-wrap {
    width: 1068px;
    margin: 15px 0 30px 180px;
    padding: 0 0 39px 0;
    border: 1px solid #ddd;
    background: none;
}
				</style>
				<div class="header-menu">
					<div class="ms-logo">
						<a href="{:url('sindex')}?zt=0" class="ms-head-logo" name="Myyigou_index_none_daohangLogo"><span style="font-size: 30px;color: #fff;font-weight: bold;    line-height: 28px;;">我的买啦</span></a>

					</div>
					<nav class="ms-nav">
						<ul>
							<li class=""><a href="{:url('sindex')}?zt=0"  style="    padding-bottom: 17px;border-bottom: 3px #fff solid;">首页</a><i class="nav-arrow"></i></li>
							<li class="nav-manage selected">
								<a href="{:url('xiugaizz')}">账户管理<em hidden></em></a><i class="nav-arrow" hidden></i>
								<div class="list-nav-manage " hidden>
									<p class="nav-mge-hover">账户管理<em></em></p>
									<p><a >个人资料</a></p>
									<p><a >安全设置</a></p>
									<p><a >账号绑定</a></p>
									<p><a >地址管理</a></p>

								</div>
							</li>
							<li class="ms-nav-msg"><a href="{:url('info')}">消息</a><i class="nav-arrow"></i></li>
						</ul>
						<div class="ms-search">
							<form>
								<input id="" type="text" value="">
								<img src="/img/搜索.png"  style="height: 10px;width: 10px;float: right;margin-right: 10px;" />
							</form>
						</div>
					</nav>
				</div>

			</article>

			<article class="ms-useinfo">
				<div class="header-useinfo" id="">
					<div class="ms-avatar">
						<div class="useinfo-avatar">
							<img src="/img/头像.png">
							<div class="edit-avatar"></div>
							<a class="text-edit-avatar">修改</a>
						</div>
						<a>{$username}</a>
					</div>

					<div class="ms-name-info">
						<div class="link-myinfo">
							<a>我的编号:{$uid}</a>
						</div>
						<div class="info-member">
							<span class="name-member member-1">
        				 <i></i><a target="_blank" >注册会员</a></span>
							<span style="margin-left: 20px;">
        				 <a target="_blank"  href="{:url('xiugaizz')}"  >我的资料</a></span>
						</div>
						<div class="info-safety">
							<span class="safety-lv lv-3">
        				<a >安全等级：<span>中</span></a>
							</span>
							<a class="bind-phone" href="{:url('phone1')}" >
								<i style="background-image: url(/img/修改手机.png);"></i>修改手机</a>
							<a class="bind-email" href="{:url('email1')}" >
								<i style="background-image: url(/img/绑定邮箱.png);"></i>修改邮箱</a>
							<a class="manage-addr"  href="{:url('diz')}" ><i style="background-image: url(/img/地址管理.png);"></i>地址管理</a>
						</div>
					</div>
				</div>

			</article>
		</header>
		{__CONTENT__}