{layout name="newlayout"}
		<div id="ms-center" class="personal-member">
			<div class="cont">
				<div class="cont-side">
					<div class="side-neck" style="margin-top: 20px;">
						<i></i>
					</div>
					<div class="ms-side" style="margin-top: 20px;">
						<article class="side-menu side-menu-off">
							<dl class="side-menu-tree" style="padding-left: 30px;">
								<dt><a href="{:url('shop')}" ><img src="/img/左侧/我的购物车.png"  style="margin-right: 10px;margin-left: -20px;"/>我的购物车</a></dt>
								<dt><img src="/img/左侧/file.png"  style="margin-right: 10px;margin-left: -20px;"/>订单管理</dt>
								<dd>
									<a href="{:url('dingd')}">我的订单</a>

								</dd>
								<dd>
									<a href="{:url('cang')}">我的收藏</a>

								</dd>
								<dd>
									<a  href="{:url('pingj')}">我的评价</a>

								</dd>
								<dd>
									<a  href="{:url('zuj')}">我的足迹</a>

								</dd>
								<dd>
									<a href="{:url('paim')}" >我的拍卖</a>

								</dd>
								<dd>
									<a href="{:url('youhuiq')}">我的优惠券</a>

								</dd>
								<dt><img src="/img/左侧/我的买啦.png"  style="margin-right: 10px;margin-left: -20px;"/>我的买啦</dt>
								<dd>
									<a href="{:url('tuij')}">我的推荐</a>

								</dd>
								<dd>
									<a href="{:url('qianb')}">我的钱包</a>

								</dd>
								<dd>
									<a href="{:url('tix')}">我要提现</a>

								</dd>
								<dd>
									<a href="{:url('maid')}">我的买豆</a>

								</dd>
								<dd>
									<a  href="{:url('guanl')}" style="color:#f70">邀请管理</a>

								</dd>
								<dt><img src="/img/左侧/v-card-3.png"  style="margin-right: 10px;margin-left: -20px;"/>售后服务</dt>
								<dd>
									<a href="{:url('tuih')}" >退换货</a>

								</dd>
								<dd>
									<a href="{:url('yij')}">意见/投诉</a>

								</dd>
							</dl>

							<a ison="on" class="switch-side-menu icon-up-side"><i></i></a>
						</article>
					</div>
				</div>
				<div class="cont-main">
					<div class="main-wrap mt15" style="border: 0px;">
						<h3>
	                        <strong>我的会员等级</strong>
	                    </h3>
						<div class="server-wrapper">
							<div class="server-tab" style="margin-top: 20px;">
								<div style=" width: 1200px;float: left;vertical-align: bottom;text-align: center;">
								<div style="float: left;width:327px ;height: 152px;;margin-left: 20px;background-image: url(/img/虚线秒变-拷贝-2.png);">
									<div style="width: 100%;height: 100%;background-image: url(/img/圆角矩形-17.png);background-repeat: no-repeat; margin-left: 6px; margin-top: 4px;">
										<img src="/img/邀请管理/组-51.png" style="margin-left: -150px;margin-top:18px;" />
										<span style="font-size: 18px;color: #686868;font-weight: bold;display: block;    display: block; width: 100px; margin-left: 150px;    margin-top: -70px;">成功邀请</span>
										<span style="font-size: 36px;color: #F88600;font-weight: bold;display: block;    display: block; width: 100px; margin-left: 150px;margin-top: 28;">6</span>
									
									</div>
								</div>
								
								<div style="float: left;width:327px ;height: 152px;background-image: url(/img/虚线秒变-拷贝-2.png);margin-left: 20px;">
									<div style="width: 100%;height: 100%;background-image: url(/img/圆角矩形-17.png);background-repeat: no-repeat;margin-top: 4px;margin-left: 6px">
										<img src="/img/邀请管理/组-52.png" style="margin-left: -150px;margin-top:18px;" />
										<span style="font-size: 18px;color: #686868;font-weight: bold;display: block;    display: block; width: 100px; margin-left: 150px;    margin-top: -70px;">成功邀请</span>
										<span style="font-size: 36px;color: #F88600;font-weight: bold;display: block;    display: block; width: 100px; margin-left: 150px;margin-top: 28;">26</span>
									
									</div>
								</div>
								
								<div style="float: left;width:327px ;height: 152px;margin-left: 20px;background-image: url(/img/虚线秒变-拷贝-2.png);">
									<div style="width: 100%;height: 100%;background-image: url(/img/圆角矩形-17.png);background-repeat: no-repeat;margin-top: 4px;margin-left: 6px">
										<img src="/img/邀请管理/组-53.png" style="margin-left: -150px;margin-top:18px;" />
										<span style="font-size: 18px;color: #686868;font-weight: bold;display: block;    display: block; width: 100px; margin-left: 150px;    margin-top: -70px;">成功邀请</span>
										<span style="font-size: 36px;color: #F88600;font-weight: bold;display: block;    display: block; width: 100px; margin-left: 150px;margin-top: 28;">36</span>
									
									</div>
								</div>
								
								</div>
								<div style="width: 100%;    display: inline-block; margin-top: 20px;">
									<p style="font-size: 18px;color: #333333;font-weight: bold;">邀请好友<p>
								     <div style="border: 1px #F2873B solid;width: 1015px;margin-bottom: 30px;width: 1010px;height: 80px;padding: 10px;background-color: #fcf5ed;">
								     	<p style="font-size: 14px;color: #686868;">邀请好友并消费即可获得<font style="color: #F0AD4E;">50买豆</font></p>
								     	<input readonly="" style="width: 700px;padding: 5px;background-color: #fefaf7;border: 1px #ffaf37 solid;font-size: 12px;color: #686868;" value="1元就能买iphone 6S,一种很有意思的 购物方式，快来看看吧http://www.mailaing.com/?u=260" />
								        <input type="button" value="复制"  style="border: 0; background-color: #F2873B;color: #fff;padding: 5px;width: 80px;border-radius: 5px;"/>
								     </div>
									<p style="font-size: 18px;color: #333333;font-weight: bold;">成功邀请的好友</p>
									<table class="sui-table table-bordered-simple" style="margin-top: 29px;width: 930px;">
									  <thead>
									  </thead>
									  <tbody style=" font-size: 14px;color: #333333;">
									    <tr >
									      <td style="width: 20%;">会员编号</td>
									      <td style="width: 20%;">用户名</td>
									      <td style="width: 20%;">注册时间</td>
									      <td style="width: 20%;">所在地</td>
									       <td style="width: 20%;">消费状态</td>
									    </tr>
									    <tr >
									      <td style="">0867876</td>
									      <td style="">小***呵呵</td>
									      <td style="">2016.03.05 23:45:34</td>
									      <td style="">北京</td>
									       <td style="">已参与</td>
									    </tr>
									    <tr >
									      <td style="">0867876</td>
									      <td style="">小***呵呵</td>
									      <td style="">2016.03.05 23:45:34</td>
									      <td style="">北京</td>
									       <td style="">已参与</td>
									    </tr>
									    <tr >
									      <td style=""> 0867876</td>
									      <td style="">小***呵呵</td>
									      <td style="">2016.03.05 23:45:34</td>
									      <td style="">北京</td>
									       <td style="">已参与</td>
									    </tr>
									  </tbody>
									</table>
										<div style="text-align:right;margin-top: 27px;width: 900px;">
										<span style="float: left;font-size: 12px;color: #949494;">成功邀请<font color="#F2873B">5</font>位会员注册，已有<font color="#F2873B">3</font>，您通过邀请获得奖励：<font color="#F2873B">300</font>买豆</span>
							    	  <dl style="    float: right;"><span class="fenye" style="margin-right: 10px;"><</span><span class="fenye">1</span><span class="fenye">2</span><span class="fenye">3</span>.....<span class="fenye">></span>共1页，到<input type="text" value="1" style="width: 20px;margin-left: 10px;margin-right: 10px;" />页<button  style="background-color: #f95555;padding: 3px;border: 0px;color: #fff;margin-left: 10px;">确认</button></dl>
							    		</div>
								</div>
							
						</div>
					</div>
				</div>
				
			</div>
		</div>
		</div>
		<div class="clear "></div>
		<div class="ng-footer ">

			<textarea class="footer-dom " id="footer-dom-02 ">
			</textarea>
			<div class="ng-fix-bar "></div>
		</div>
		<style type="text/css ">
		
			.ng-footer {
				height: 130px;
				margin-top: 0;
			}
		
			
			.ng-s-footer {
				height: 130px;
				background: none;
				text-align: center;
			}
			
			.ng-s-footer p.ng-url-list {
				height: 25px;
				line-height: 25px;
			}
			
			.ng-s-footer p.ng-url-list a {
				color: #666666;
			}
			
			.ng-s-footer p.ng-url-list a:hover {
				color: #f60;
			}
			
			.ng-s-footer .ng-authentication {
				float: none;
				margin: 0 auto;
				height: 25px;
				width: 990px;
				margin-top: 5px;
			}
			
			.ng-s-footer p.ng-copyright {
				float: none;
				width: 100%;
			}
			
			.root1200 .ng-s-footer p.ng-copyright {
				width: 100%;
			}
		</style>
		<script type="text/javascript " src="js/safe/ms_common.min.js "></script>
	</body>

</html>