{layout name="newlayout"}
		<div id="ms-center" class="personal-member">
			<div class="cont">
				<div class="cont-side">
					<div class="side-neck" style="margin-top: 20px;">
						<i></i>
					</div>
					<div class="ms-side" style="margin-top: 20px;">
						<article class="side-menu side-menu-off">
							<dl class="side-menu-tree" style="padding-left: 30px;">
								<dt><img src="/img/左侧/我的购物车.png"  style="margin-right: 10px;margin-left: -20px;"/>我的购物车</dt>
								<dt><img src="/img/左侧/file.png"  style="margin-right: 10px;margin-left: -20px;"/>订单管理</dt>
								<dd>
									<a>我的订单</a>

								</dd>
								<dd>
									<a>我的收藏</a>

								</dd>
								<dd>
									<a>我的评价</a>

								</dd>
								<dd>
									<a>我的足迹</a>

								</dd>
								<dd>
									<a style="color:#f70">我的拍卖</a>

								</dd>
								<dd>
									<a>我的优惠券</a>

								</dd>
								<dt><img src="/img/左侧/我的买啦.png"  style="margin-right: 10px;margin-left: -20px;"/>我的买啦</dt>
								<dd>
									<a>我的推荐</a>

								</dd>
								<dd>
									<a>我的钱包</a>

								</dd>
								<dd>
									<a>我要提现</a>

								</dd>
								<dd>
									<a>我的买豆</a>

								</dd>
								<dd>
									<a>邀请管理</a>

								</dd>
								<dt><img src="/img/左侧/v-card-3.png"  style="margin-right: 10px;margin-left: -20px;"/>售后服务</dt>
								<dd>
									<a >退换货</a>

								</dd>
								<dd>
									<a>意见/投诉</a>

								</dd>
							</dl>

							<a ison="on" class="switch-side-menu icon-up-side"><i></i></a>
						</article>
					</div>
				</div>
				<div class="cont-main">
					<div class="main-wrap mt15" style="border: 0px;">
						<div class="server-wrapper">
							<div class="server-tab" style="margin-top: 20px;">
								
								<ul class="sui-nav nav-tabs">
								  <li class="active"><a href="#index" data-toggle="tab">我的参拍商品</a></li>
								  <li><a href="#profile" data-toggle="tab">我的拍卖订单</a></li>
								  <li><a href="#about" data-toggle="tab">我的保证金</a></li>
								  <li><a href="#tixing" data-toggle="tab">我的提醒</a></li>
								  <li><a href="#set" data-toggle="tab">拍卖设置</a></li>
								</ul>
								<div class="tab-content">
								  <div id="index" class="tab-pane active">
								  
								  <div>
								  	<button style="background-color: #F37B1D;color: #fff;width: 78px;height: 28px;border: 0px;border-radius: 3px;">进行中的商品</button>
								  	<button style="background-color: #f8f8f8;color: #b1adad;width: 78px;height: 28px;border: 0px;border-radius: 3px;">已结束的商品</button>
								  </div>
								  
								<table class="uiTable" id="return_table"  style="margin-top: 20px;border:  1px #ccc solid;    width: 90%;">
											<tr  style="background-color: #f8f8f8;" >
												<th  style="line-height:50px;" nowrap colspan="2"><font style="font-size: 14px;margin-left:90px; ">宝贝名称</font></th>
												<th  style="line-height:50px;margin-left:135px;" nowrap><font style="font-size: 14px; ">开拍时间</font></th>
												<th  style="line-height:50px;" nowrap><font style="font-size: 14px;margin-left: 41px; ">保证金</font></th>
												<th  style="line-height:50px; "nowrap ><font style="font-size: 14px;margin-left:28px; ">竞拍数量</font></th>
												<th  style="line-height:50px; "  nowrap><font style="font-size: 14px;margin-left:35px; ">获得数量</font></th>
												<th  style="line-height:50px; " nowrap ><font style="font-size: 14px;margin-left:26px; ">当前价格(元)</font></th>
												<th  style="line-height:50px; " nowrap><font style="font-size: 14px;margin-left:34px; ">我的最高出价(元)</font></th>
												<th  style="line-height:50px; " nowrap><font style="font-size: 14px;margin-left:34px; ">剩余时间</font></th>
												<th  style="line-height:50px; " nowrap ><font style="font-size: 14px;margin-left:34px;margin-right: 20px; ">状态</font></th>
											</tr>
											<tr >
												<td style="padding: 20px;">
												<img src="/img/我的拍卖/组-43.png" style="max-width: 100px;margin-left: ;" />
												</td>
												<td >
													<p style="color: #284ec7;font-size: 12px;width: 100px;margin-top:0px;">冰雪翡翠花手镯59mm</p>
												 <span style="border-radius:5px;width: 44px;height: 17px;padding: 2px;color:#ffffff;font-size: 10px;background-color: #9fdee2;">增价拍</span>
												</td>
												<td style="font-size: 12px">
													2016-04-15
													<br />
													10:00:00
												</td>
												<td style="font-size: 12px;">
													<span style="margin-left: 41px;">500
													<br /><span style="color: #F2873B;margin-left: 35px;"> 已支付</span>
													</span>
												</td>
												<td style="font-size: 12px">
													<span style="margin-left:40px;">0</span>
												</td>
												<td style="font-size: 12px">
														<span style="margin-left: 40px;">0</span>
												</td>
												<td style="font-size: 12px">
													<span style="margin-left: 28px;">5300.00</span>
												</td>
												<td style="font-size: 12px"></td>
												<td style="font-size: 12px">
														<span style="margin-left: 34px;">3小时</span></td>
												<td style="font-size: 12px">
													
													<span style="margin-left: 34px;">未报名</span>
													<br />
													<br />
												<button style="font-size: 12px;margin-left: 34px;padding: 5px;border: 1px #ccc solid;">报名</button>
												</td>
											</tr>

										</table>								  
								  
								  </div>
								  <div id="profile" class="tab-pane">
								    <p></p>
								  </div>
								  <div id="about" class="tab-pane">
								    <p></p>
								  </div>
								   <div id="tixing" class="tab-pane">
								    <p></p>
								  </div>
								   <div id="set" class="tab-pane">
								    <p>
								    	</p>
								  </div>
								</div>
						</div>
						<div  style="margin-top: 58px;">
									<h4 style="width:87%;">发现好货 <span style="float: right;font-weight: normal;">更多14879件></span></h4>
									<hr style="border-top:2px #333333 solid;width: 90%;"/>
										<div style="float: left;padding: 10px;">
											<img src="/img/tb1yczdhpxxxxxzxxxxxxxxxxxx_!!2-item_pic.png" style="min-width: 228px;" />
											<h4 style="font-size: 14px;">乐扣水杯</h4>
											<span>当前价:<font style="color: #F2873B;font-size: 16px;">￥156</font></span>
											<br />
											<span style="color: #686868;">距结束:0天3时25分19秒</span>
											<br />
											<button style="background-color: #F2873B;color: #fff;border: 0px;width: 90px;height: 30px;margin-top: 12px;">正在进行中</button>
										</div>
										<div style="float: left;padding: 10px;">
											<img src="/img/我的拍卖/屏幕快照-2016-04-08-15.50.46.png" style="min-width: 228px;height: 228px;" />
											<h4 style="font-size: 14px;">乐扣水杯</h4>
											<span>当前价:<font style="color: #F2873B;font-size: 16px;">￥156</font></span>
											<br />
											<span style="color: #686868;">距结束:0天3时25分19秒</span>
											<br />
											<button style="background-color: #F2873B;color: #fff;border: 0px;width: 90px;height: 30px;margin-top: 12px;">正在进行中</button>
										</div>
										<div style="float: left;padding: 10px;">
											<img src="/img/我的拍卖/屏幕快照-2016-04-08-15.51.06.png" style="min-width: 228px;height: 228px;" />
											<h4 style="font-size: 14px;">乐扣水杯</h4>
											<span>当前价:<font style="color: #F2873B;font-size: 16px;">￥156</font></span>
											<br />
											<span style="color: #686868;">距结束:0天3时25分19秒</span>
											<br />
											<button style="background-color: #F2873B;color: #fff;border: 0px;width: 90px;height: 30px;margin-top: 12px;">正在进行中</button>
										</div>
										<div style="float: left;padding: 10px;">
											<img src="/img/我的拍卖/屏幕快照-2016-04-12-15.41.52-拷贝.png" style="min-width: 228px;height: 228px;" />
											<h4 style="font-size: 14px;">乐扣水杯</h4>
											<span>当前价:<font style="color: #F2873B;font-size: 16px;">￥156</font></span>
											<br />
											<span style="color: #686868;">距结束:0天3时25分19秒</span>
											<br />
											<button style="background-color: #F2873B;color: #fff;border: 0px;width: 90px;height: 30px;margin-top: 12px;">正在进行中</button>
										</div>
										
								</div>
								
								<div style="margin-top: 450px;position: relative;">
									<h4 style="width:90%;">司法拍卖<span style="float: right;font-weight: normal;">更多14879件></span></h4>
										<hr style="border-top:2px #333333 solid;width: 90%;"/>
										
										<div style="float: left;padding: 10px;">
											<img src="/img/tb1yczdhpxxxxxzxxxxxxxxxxxx_!!2-item_pic.png" style="min-width: 228px;height: 228px;" />
											<h4 style="font-size: 14px;">乐扣水杯</h4>
											<span>当前价:<font style="color: #F2873B;font-size: 16px;">￥156</font></span>
											<br />
											<span style="color: #686868;">距结束:0天3时25分19秒</span>
											<br />
											<button style="background-color: #F2873B;color: #fff;border: 0px;width: 90px;height: 30px;margin-top: 12px;">正在进行中</button>
										</div>
										<div style="float: left;padding: 10px;">
											<img src="/img/我的拍卖/屏幕快照-2016-04-08-15.50.46.png" style="min-width: 228px;height: 228px;" />
											<h4 style="font-size: 14px;">乐扣水杯</h4>
											<span>当前价:<font style="color: #F2873B;font-size: 16px;">￥156</font></span>
											<br />
											<span style="color: #686868;">距结束:0天3时25分19秒</span>
											<br />
											<button style="background-color: #F2873B;color: #fff;border: 0px;width: 90px;height: 30px;margin-top: 12px;">正在进行中</button>
										</div>
										<div style="float: left;padding: 10px;">
											<img src="/img/我的拍卖/屏幕快照-2016-04-08-15.51.06.png" style="min-width: 228px;height: 228px;" />
											<h4 style="font-size: 14px;">乐扣水杯</h4>
											<span>当前价:<font style="color: #F2873B;font-size: 16px;">￥156</font></span>
											<br />
											<span style="color: #686868;">距结束:0天3时25分19秒</span>
											<br />
											<button style="background-color: #249f29;color: #fff;border: 0px;width: 90px;height: 30px;margin-top: 12px;">即将开始</button>
										</div>
										<div style="float: left;padding: 10px;">
											<img src="/img/我的拍卖/屏幕快照-2016-04-12-15.41.52-拷贝.png" style="min-width: 228px;height: 228px;" />
											<h4 style="font-size: 14px;">乐扣水杯</h4>
											<span>当前价:<font style="color: #F2873B;font-size: 16px;">￥156</font></span>
											<br />
											<span style="color: #686868;">距结束:0天3时25分19秒</span>
											<br />
											<button style="background-color: #F2873B;color: #fff;border: 0px;width: 90px;height: 30px;margin-top: 12px;">正在进行中</button>
										</div >
							    </div>
							    <p style="text-align:right;margin-top: 400px;width: 90%;">
							    	<span class="fenye"><</span><span class="fenye" style=" margin-left: 10px;">1</span><span class="fenye">2</span><span class="fenye">3</span><span class="fenye">4</span><span class="fenye">5</span>.....<span class="fenye">></span>共1页，到<input type="text" value="1" style="width: 20px;margin-left: 10px;margin-right: 10px;" />页<button  style="background-color: #f95555;padding: 3px;border: 0px;color: #fff;margin-left: 10px;">确认</button>
							    </p>
						</form>
					</div>
				</div>
			</div>
		</div>
		</div>
		<div class="clear "></div>
		<div class="ng-footer ">

			<textarea class="footer-dom " id="footer-dom-02 ">
			</textarea>
			<div class="ng-fix-bar "></div>
		</div>
		<style type="text/css ">
			.ng-footer {
				height: 130px;
				margin-top: 0;
			}
		
			
			.ng-s-footer {
				height: 130px;
				background: none;
				text-align: center;
			}
			
			.ng-s-footer p.ng-url-list {
				height: 25px;
				line-height: 25px;
			}
			
			.ng-s-footer p.ng-url-list a {
				color: #666666;
			}
			
			.ng-s-footer p.ng-url-list a:hover {
				color: #f60;
			}
			
			.ng-s-footer .ng-authentication {
				float: none;
				margin: 0 auto;
				height: 25px;
				width: 990px;
				margin-top: 5px;
			}
			
			.ng-s-footer p.ng-copyright {
				float: none;
				width: 100%;
			}
			
			.root1200 .ng-s-footer p.ng-copyright {
				width: 100%;
			}
		</style>
		<script type="text/javascript " src="js/safe/ms_common.min.js "></script>
	</body>

</html>