{layout name="newlayout"}
		<div id="ms-center" class="personal-member">
			<div class="cont">
				<div class="cont-side">
					<div class="side-neck">
						<i></i>
					</div>
					<div class="ms-side">
						<article class="side-menu side-menu-off">
							<dl class="side-menu-tree">
								<dt>账户管理</dt>
								<dd>
									<a  href="{:url('xiugaizz')}" ><span ></span>我的资料</a>

								</dd> 
								<dd>
									<a href="{:url('safe')}" style="color:#f70" ><span class="active"></span>安全设置</a>

								</dd>
								<dd>
									<a href="{:url('bangd')}" ><span></span>账号绑定</a>

								</dd>
								<dd>
									<a href="{:url('diz')}"><span></span>地址管理</a>

								</dd>
							</dl>

							<a ison="on" class="switch-side-menu icon-up-side"><i></i></a>
						</article>
					</div>
				</div>
				<div class="cont-main">
					<div class="main-wrap mt15">
						<!--<h3>
	                        <strong>个人信息</strong>
	                    </h3>-->
						<div class="user-profile clearfix">
							<div class="user-profile-wrap">
								<h2>您的基础信息</h2>
								<div class="control-group clearfix " style="margin-top: 20px;margin-left: 20px;">
									<div class="controls lh26">
										<font style="font-weight: bold;">会&nbsp;员&nbsp;名<span style="margin-left: 7px;" >：</span></font>shiruyi0
									</div>
									<br />
									<div class="controls lh26" style="width: 320px;">
								<font style="font-weight: bold;">登录邮箱：</font><span>980****10@qq.com</span><font style="color: #2D5BC1;float: right;">修改邮箱</font>
									</div>
									<br />
									<div class="controls lh26" style="width: 320px;">
										<font style="font-weight: bold;">绑定手机：</font>188***210<font style="color: #2D5BC1;float: right;">修改手机</font>
									</div>
								</div>
								
							</div>
						</div>
						<input id="" type="hidden">
						<div class="form-list tab-switch personal-wrap-show">
							<form>
								<div class="control-group clearfix">
									<h2 style="margin-left: 66px;">您的安全服务</h2>
								</div>
								<div class="control-group clearfix">
									<label style="margin-left: 87px;">登录等级：</label>
									<font style="color: #F37B1D;">中</font><progress value="22" max="100" style="margin-left: 10px;" ></progress>
									<span style="margin-left: 20px;">加强密码设置,提升账户安全</span>
								</div>
								<div class="control-group clearfix"style="margin-top: 54px;width: 920px;" >
									<label style="margin-left: 87px;">密码登录</label>
									<span style="margin-left: 74px;">已设置 <img  src="/img/ysz.png" style="margin-left: 5px;    margin-bottom: -4px;"/></span>
									<div style="margin-left: 369px;margin-top: -20px;width:500px;float: left">安全性高的密码可以使账户更安全,建议您定期更换密码,且设置一个包含数字<br>母,并长度超过6位以上的密码。</div>
									<div style="float: right;margin-top: -20px;color: #007AFF;">修改</div>
								</div>
								<div style="border-bottom: 1px dashed #ccc;width:850px;margin-left:87px"></div>
								<div class="control-group clearfix"  style="margin-top: 40px;width: 920px;">
									<label style="margin-left: 87px;">支付密码</label>
									<span  style="margin-left: 74px;color: #8e8e8e;">已完成</span>
									<div style="margin-left: 369px;margin-top: -20px;width:500px;float: left;color: #8e8e8e;font-size: 12px;">在账户资金变动,修改账户信息时需要输入的密码。<br>&nbsp;</div>
									<div style="float: right;margin-top: -20px;color: #F88600;">马上设置</div>
								</div>
								<div style="border-bottom: 1px dashed #ccc;width:850px;margin-left:87px"></div>
								<div class="control-group clearfix" style="margin-top: 40px;width: 920px;">
									<label style="margin-left: 87px;">实名认证</label>
									<span  style="margin-left: 74px;color: #8e8e8e;">未认证 </span>
									<div style="margin-left: 369px;margin-top: -20px;width:500px;float: left;color: #8e8e8e;">进行实名认证,可提高账户安全度。<br>&nbsp;</div>
									<div style="float: right;margin-top: -20px;color: #F88600;">马上认证</div>
								</div>
								<div style="border-bottom: 1px dashed #ccc;width:850px;margin-left:87px"></div>
								<div class="control-group clearfix" style="margin-top: 40px;width: 920px;">
									<label style="margin-left: 87px;">身份认证</label>
									<span  style="margin-left: 74px;">已完成 <img  src="/img/ysz.png" style="margin-left: 5px;    margin-bottom: -4px;" /></span>
									<div style="margin-left:369px;margin-top: -20px;width:500px;float: left">用于提示账户的安全性和信任级别,认证后的卖家记录的账号不能修改认证信息。<br>&nbsp;</div>
									<div style="float: right;margin-top: -20px;color: #007AFF;">查看</div>
								</div>
								<div style="border-bottom: 1px dashed #ccc;width:850px;margin-left:87px"></div>
								<div class="control-group clearfix" style="margin-top: 40px;width: 920px;">
									<label style="margin-left: 87px;">手机号码</label>
									<span  style="margin-left: 74px;">已绑定 <img  src="/img/ysz.png" style="margin-left: 5px;    margin-bottom: -4px;"/></span>
									<div style="margin-left: 369px;margin-top: -20px;width:500px;float: left">绑定手机后，您即可享受淘宝丰富的手机服务，如手机找回密码等。<br>&nbsp;</div>
									<div style="float: right;margin-top: -20px;color: #007AFF;">修改</div>
								</div>
								<div style="border-bottom: 1px dashed #ccc;width:850px;margin-left:87px"></div>
								<div class="control-group clearfix"  style="margin-top: 40px;width: 920px;">
									<label style="margin-left: 87px;">银行卡</label>
									<span  style="margin-left: 86px;">已绑定 <img  src="/img/ysz.png" style="margin-left: 5px;    margin-bottom: -4px;"/></span>
									<div style="margin-left:369px;margin-top: -20px;width:475px;float: left">您已绑定&nbsp;&nbsp;<font color="#22CD6E">3</font>&nbsp;&nbsp;张银行卡<br>&nbsp;</div>
									<div style="float: right;margin-top: -20px;color: #007AFF;">添加&nbsp;&nbsp;|&nbsp;&nbsp;管理</div>
								</div>
								<!--<div style="border-bottom: 1px dashed #ccc;width:850px;margin-left:87px"></div>-->
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="clear"></div>
		<div class="ng-footer">

			<textarea class="footer-dom" id="footer-dom-02">
			</textarea>
			<div class="ng-fix-bar"></div>
		</div>
		<style type="text/css">
			.ng-footer {
				height: 130px;
				margin-top: 0;
			}
			
			.ng-s-footer {
				height: 130px;
				background: none;
				text-align: center;
			}
			
			.ng-s-footer p.ng-url-list {
				height: 25px;
				line-height: 25px;
			}
			
			.ng-s-footer p.ng-url-list a {
				color: #666666;
			}
			
			.ng-s-footer p.ng-url-list a:hover {
				color: #f60;
			}
			
			.ng-s-footer .ng-authentication {
				float: none;
				margin: 0 auto;
				height: 25px;
				width: 990px;
				margin-top: 5px;
			}
			
			.ng-s-footer p.ng-copyright {
				float: none;
				width: 100%;
			}
			
			.root1200 .ng-s-footer p.ng-copyright {
				width: 100%;
			}
		</style>
		<script type="text/javascript" src="js/safe/ms_common.min.js" ></script>
	</body>

</html>